.recent-work-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assests/Group 4.png'); 
  background-size: cover;
}

.recent-work-container h1 {
  font-size: 36px;
  color: #333;
  margin-top: -10%;
}

.Rcontainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 90vw; 
  height: 60vh; 
}

.image {
  margin: 0 20px; 
  width: 40vw; /* Set fixed width */
  height: 50vh; /* Set fixed height */
  object-fit: cover; /* Ensure the image covers the container without stretching */
  border: 1px solid #ddd; /* Optional: add a border to highlight the image area */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visuals */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 10px; 
  border-radius: 50%; 
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px; 
}
